.car-card {
    border: 1px solid black;
    max-width: min-content;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    transition: background-color 0.25s;
}

.car-card:hover {
    background-color: whitesmoke;
}

.squareBox {
    margin: auto;
    max-width: 500px;
}