.car-card {
    border: 2px solid black;
    max-width: min-content;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    transition: scale 0.25s;
}
.car-img{
    border-radius: 1rem;
}

.car-card:hover {
    scale: 1.02;
}

.squareBox {
    margin: auto;
    max-width: 500px;
}

.parent{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    flex-grow: 1;
}

.ft{
    justify-self: flex-end;
}

.car-detail-img{
    object-fit: cover;
    border-radius: 1rem;
}